# Email Spam Detection

In [89]:
# import libraries 
import pandas as pd
import string
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.naive_bayes import MultinomialNB

In [41]:
df = pd.read_csv('C:\\Users\\Martin\\Downloads\\spam.csv', encoding='ISO-8859-1')

# Pre Processing

In [42]:
df = df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'])
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
df.drop_duplicates()

In [4]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
df.iloc[2,1]

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [43]:
df.rename(columns={'v1':'email_detection' ,'v2':'email_text' },inplace = True)

In [44]:
df['clean_email_text'] = df['email_text'].str.lower()

In [45]:
df.head()

,email_detection,email_text,clean_email_text
0,ham,"Go until jurong point, crazy.. Available only ...","go until jurong point, crazy.. available only ..."
1,ham,Ok lar... Joking wif u oni...,ok lar... joking wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry in 2 a wkly comp to win fa cup fina...
3,ham,U dun say so early hor... U c already then say...,u dun say so early hor... u c already then say...
4,ham,"Nah I don't think he goes to usf, he lives aro...","nah i don't think he goes to usf, he lives aro..."

# Remove Punctuations

In [46]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [47]:
def remove_punctuations(text):
    return ''.join([char for char in text if char not in string.punctuation])

In [128]:
# OR

In [49]:
def Remove_punctuation(text):
    punctuation = string.punctuation 
    return text.translate(str.maketrans('','',punctuation))

In [50]:
df['clean_email_text'] = df['clean_email_text'].apply(lambda x: remove_punctuations(x))
# df['clean_email_text'] = df['clean_email_text'].apply(lambda x: Remove_punctuation(x))
df.head()

,email_detection,email_text,clean_email_text
0,ham,"Go until jurong point, crazy.. Available only ...",go until jurong point crazy available only in ...
1,ham,Ok lar... Joking wif u oni...,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry in 2 a wkly comp to win fa cup fina...
3,ham,U dun say so early hor... U c already then say...,u dun say so early hor u c already then say
4,ham,"Nah I don't think he goes to usf, he lives aro...",nah i dont think he goes to usf he lives aroun...

# Remove StopWrods

In [53]:
from nltk.corpus import stopwords
", ".join(stopwords.words('english'))

"i, me, my, myself, we, our, ours, ourselves, you, you're, you've, you'll, you'd, your, yours, yourself, yourselves, he, him, his, himself, she, she's, her, hers, herself, it, it's, its, itself, they, them, their, theirs, themselves, what, which, who, whom, this, that, that'll, these, those, am, is, are, was, were, be, been, being, have, has, had, having, do, does, did, doing, a, an, the, and, but, if, or, because, as, until, while, of, at, by, for, with, about, against, between, into, through, during, before, after, above, below, to, from, up, down, in, out, on, off, over, under, again, further, then, once, here, there, when, where, why, how, all, any, both, each, few, more, most, other, some, such, no, nor, not, only, own, same, so, than, too, very, s, t, can, will, just, don, don't, should, should've, now, d, ll, m, o, re, ve, y, ain, aren, aren't, couldn, couldn't, didn, didn't, doesn, doesn't, hadn, hadn't, hasn, hasn't, haven, haven't, isn, isn't, ma, mightn, mightn't, mustn, mustn't, needn, needn't, shan, shan't, shouldn, shouldn't, wasn, wasn't, weren, weren't, won, won't, wouldn, wouldn't"

In [54]:
Stop_Words = set(stopwords.words('english'))
def remove_stopwords(text):
    return " ".join([word for word in text.split() if word not in Stop_Words])

In [55]:
df['clean_email_text'] = df['clean_email_text'].apply(lambda x : remove_stopwords(x))

# Remove Duplicate words

In [25]:
def remove_duplicate_words(text):
    words = text.split()
    unique_words = set(words)
    return ' '.join(unique_words)

In [28]:
df['clean_email_text'] = df['clean_email_text'].apply(lambda x : remove_duplicate_words(x))
df.head()

,email_detection,email_text,clean_email_text
0,ham,"Go until jurong point, crazy.. Available only ...",amore world until bugis in jurong go n cine la...
1,ham,Ok lar... Joking wif u oni...,lar... ok oni... joking wif u
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,a 2 08452810075over18's final win in question(...
3,ham,U dun say so early hor... U c already then say...,already early say u then dun hor... so say... c
4,ham,"Nah I don't think he goes to usf, he lives aro...",don't here think he goes lives i around nah th...

# Remove Frequent words

In [58]:
from collections import Counter
word_count = Counter()
for text in df['clean_email_text']:
    for word in text.split():
        word_count[word] += 1
word_count.most_common(100)

[('u', 1119),
 ('call', 576),
 ('2', 478),
 ('im', 462),
 ('get', 386),
 ('ur', 384),
 ('4', 287),
 ('dont', 279),
 ('go', 278),
 ('ok', 277),
 ('ltgt', 276),
 ('free', 275),
 ('know', 257),
 ('like', 242),
 ('got', 238),
 ('ill', 237),
 ('good', 234),
 ('come', 226),
 ('time', 208),
 ('day', 202),
 ('love', 195),
 ('want', 192),
 ('send', 190),
 ('text', 188),
 ('going', 171),
 ('one', 170),
 ('need', 166),
 ('txt', 163),
 ('home', 162),
 ('lor', 160),
 ('see', 156),
 ('sorry', 156),
 ('still', 153),
 ('r', 153),
 ('back', 152),
 ('stop', 150),
 ('reply', 144),
 ('n', 143),
 ('today', 141),
 ('mobile', 138),
 ('tell', 137),
 ('new', 136),
 ('later', 134),
 ('well', 133),
 ('think', 132),
 ('da', 131),
 ('hi', 131),
 ('please', 128),
 ('take', 126),
 ('phone', 125),
 ('cant', 123),
 ('ì', 117),
 ('week', 115),
 ('claim', 113),
 ('much', 113),
 ('night', 113),
 ('oh', 112),
 ('great', 111),
 ('hey', 111),
 ('dear', 110),
 ('pls', 109),
 ('happy', 106),
 ('hope', 103),
 ('make', 101),
 ('way', 101),
 ('work', 99),
 ('give', 99),
 ('wat', 96),
 ('thats', 94),
 ('number', 94),
 ('prize', 92),
 ('right', 92),
 ('say', 91),
 ('already', 90),
 ('tomorrow', 90),
 ('ask', 88),
 ('yes', 86),
 ('really', 86),
 ('yeah', 86),
 ('said', 86),
 ('e', 84),
 ('message', 83),
 ('1', 82),
 ('amp', 82),
 ('msg', 81),
 ('c', 79),
 ('didnt', 79),
 ('meet', 78),
 ('babe', 78),
 ('last', 78),
 ('morning', 77),
 ('life', 77),
 ('miss', 76),
 ('would', 76),
 ('cos', 76),
 ('ive', 74),
 ('cash', 74),
 ('thanks', 74),
 ('lol', 73),
 ('anything', 73)]

In [59]:
FREQUENT_WORDS = set(word for word in word_count.most_common(10))
def remove_freq_words(text):
    return " ".join([word for word in text.split() if word not in FREQUENT_WORDS])

In [60]:
df['clean_email_text'] = df['clean_email_text'].apply(lambda x :remove_freq_words(x))
df.head(20)

,email_detection,email_text,clean_email_text
0,ham,"Go until jurong point, crazy.. Available only ...",go jurong point crazy available bugis n great ...
1,ham,Ok lar... Joking wif u oni...,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry 2 wkly comp win fa cup final tkts 2...
3,ham,U dun say so early hor... U c already then say...,u dun say early hor u c already say
4,ham,"Nah I don't think he goes to usf, he lives aro...",nah dont think goes usf lives around though
5,spam,FreeMsg Hey there darling it's been 3 week's n...,freemsg hey darling 3 weeks word back id like ...
6,ham,Even my brother is not like to speak with me. ...,even brother like speak treat like aids patent
7,ham,As per your request 'Melle Melle (Oru Minnamin...,per request melle melle oru minnaminunginte nu...
8,spam,WINNER!! As a valued network customer you have...,winner valued network customer selected receiv...
9,spam,Had your mobile 11 months or more? U R entitle...,mobile 11 months u r entitled update latest co...
10,ham,I'm gonna be home soon and i don't want to tal...,im gonna home soon dont want talk stuff anymor...
11,spam,"SIX chances to win CASH! From 100 to 20,000 po...",six chances win cash 100 20000 pounds txt csh1...
12,spam,URGENT! You have won a 1 week FREE membership ...,urgent 1 week free membership å£100000 prize j...
13,ham,I've been searching for the right words to tha...,ive searching right words thank breather promi...
14,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,date sunday
15,spam,"XXXMobileMovieClub: To use your credit, click ...",xxxmobilemovieclub use credit click wap link n...
16,ham,Oh k...i'm watching here:),oh kim watching
17,ham,Eh u remember how 2 spell his name... Yes i di...,eh u remember 2 spell name yes v naughty make ...
18,ham,Fine if thatåÕs the way u feel. ThatåÕs the wa...,fine thatåõs way u feel thatåõs way gota b
19,spam,England v Macedonia - dont miss the goals/team...,england v macedonia dont miss goalsteam news t...

# Remove Rare words

In [62]:
RARE_WORDS = set(word for word in word_count.most_common()[:-20:-1])
RARE_WORDS

{('087187272008', 1),
 ('4years', 1),
 ('accent', 1),
 ('bitching', 1),
 ('dental', 1),
 ('dump', 1),
 ('heap', 1),
 ('kane', 1),
 ('lowes', 1),
 ('nmde', 1),
 ('now1', 1),
 ('pity', 1),
 ('pshewmissing', 1),
 ('salesman', 1),
 ('shud', 1),
 ('soany', 1),
 ('suggestions', 1),
 ('units', 1),
 ('å£750', 1)}

In [63]:
def Remove_Rare_Words(text):
    return " ".join(word for word in text.split() if word not in RARE_WORDS)

In [64]:
df['clean_email_text'] = df['clean_email_text'].apply(lambda x : Remove_Rare_Words(x))
df.head()

,email_detection,email_text,clean_email_text
0,ham,"Go until jurong point, crazy.. Available only ...",go jurong point crazy available bugis n great ...
1,ham,Ok lar... Joking wif u oni...,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry 2 wkly comp win fa cup final tkts 2...
3,ham,U dun say so early hor... U c already then say...,u dun say early hor u c already say
4,ham,"Nah I don't think he goes to usf, he lives aro...",nah dont think goes usf lives around though

In [65]:
lang = df['clean_email_text'].str.contains('our' , na=False)
df.loc[lang,'clean_email_text']

8       winner valued network customer selected receiv...
9       mobile 11 months u r entitled update latest co...
92      smile pleasure smile pain smile trouble pours ...
98      hi wk ok hols yes bit run forgot hairdressers ...
103     wow youre right didnt mean guess gave boston m...
                              ...
5462    txt call 86888 claim reward 3 hours talk time ...
5484    picking various points going 2 yeovil motor pr...
5486                           ofcourse also upload songs
5544    im taking derek amp taylor walmart im back tim...
5559                 arent next ltgt hours imma flip shit
Name: clean_email_text, Length: 195, dtype: object

# Remove Specail Character

In [66]:
import re

In [67]:
def Remove_special_character(text):
    text = re.sub('[^a-zA-Z0-9]',' ',text)
    text = re.sub('\s+',' ',text)
    return text

In [68]:
df['clean_email_text'] = df['clean_email_text'].apply(lambda x : Remove_special_character(x))
df.head(20)

,email_detection,email_text,clean_email_text
0,ham,"Go until jurong point, crazy.. Available only ...",go jurong point crazy available bugis n great ...
1,ham,Ok lar... Joking wif u oni...,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry 2 wkly comp win fa cup final tkts 2...
3,ham,U dun say so early hor... U c already then say...,u dun say early hor u c already say
4,ham,"Nah I don't think he goes to usf, he lives aro...",nah dont think goes usf lives around though
5,spam,FreeMsg Hey there darling it's been 3 week's n...,freemsg hey darling 3 weeks word back id like ...
6,ham,Even my brother is not like to speak with me. ...,even brother like speak treat like aids patent
7,ham,As per your request 'Melle Melle (Oru Minnamin...,per request melle melle oru minnaminunginte nu...
8,spam,WINNER!! As a valued network customer you have...,winner valued network customer selected receiv...
9,spam,Had your mobile 11 months or more? U R entitle...,mobile 11 months u r entitled update latest co...
10,ham,I'm gonna be home soon and i don't want to tal...,im gonna home soon dont want talk stuff anymor...
11,spam,"SIX chances to win CASH! From 100 to 20,000 po...",six chances win cash 100 20000 pounds txt csh1...
12,spam,URGENT! You have won a 1 week FREE membership ...,urgent 1 week free membership 100000 prize jac...
13,ham,I've been searching for the right words to tha...,ive searching right words thank breather promi...
14,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,date sunday
15,spam,"XXXMobileMovieClub: To use your credit, click ...",xxxmobilemovieclub use credit click wap link n...
16,ham,Oh k...i'm watching here:),oh kim watching
17,ham,Eh u remember how 2 spell his name... Yes i di...,eh u remember 2 spell name yes v naughty make ...
18,ham,Fine if thatåÕs the way u feel. ThatåÕs the wa...,fine that s way u feel that s way gota b
19,spam,England v Macedonia - dont miss the goals/team...,england v macedonia dont miss goalsteam news t...

# Lemmitization and POS tag

In [69]:
import nltk
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')  # Optional, for POS tagging

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Martin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Martin\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [70]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\Martin\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [71]:
from nltk import pos_tag
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

In [72]:
lemmatizer = WordNetLemmatizer()
wordnet_map = {"N":wordnet.NOUN, "V": wordnet.VERB, "J": wordnet.ADJ, "R": wordnet.ADV}

In [73]:
def lemmatize_words(text):
    # find pos tags
    pos_text = pos_tag(text.split())
    return " ".join([lemmatizer.lemmatize(word, wordnet_map.get(pos[0], wordnet.NOUN)) for word, pos in pos_text])

In [74]:
df['clean_email_text'] = df['clean_email_text'].apply(lambda x: lemmatize_words(x))
df.head()

,email_detection,email_text,clean_email_text
0,ham,"Go until jurong point, crazy.. Available only ...",go jurong point crazy available bugis n great ...
1,ham,Ok lar... Joking wif u oni...,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry 2 wkly comp win fa cup final tkts 2...
3,ham,U dun say so early hor... U c already then say...,u dun say early hor u c already say
4,ham,"Nah I don't think he goes to usf, he lives aro...",nah dont think go usf life around though

# Spelling

In [75]:
!pip install pyspellchecker

Requirement already satisfied: pyspellchecker in c:\users\martin\anaconda3\lib\site-packages (0.8.1)

In [ ]:
df['clean_email_text'] = df[''].apply(lambda x: Correct_spelling(x))

In [77]:
from spellchecker import SpellChecker
spell = SpellChecker()

def correct_spellings(text):
    corrected_text = []
    misspelled_text = spell.unknown(text.split())
    # print(misspelled_text)
    for word in text.split():
        if word in misspelled_text:
            correction = spell.correction(word)
            corrected_text.append(correction if correction is not None else word)
        else:
            corrected_text.append(word)
            
    return " ".join(corrected_text)

In [78]:
df['clean_email_text'] = df['clean_email_text'].apply(lambda x: correct_spellings(x))

In [79]:
df.head()

,email_detection,email_text,clean_email_text
0,ham,"Go until jurong point, crazy.. Available only ...",go wrong point crazy available bugs n great wo...
1,ham,Ok lar... Joking wif u oni...,of lar joking if u on
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry 2 wily come win fa cup final tits j...
3,ham,U dun say so early hor... U c already then say...,u dun say early for u c already say
4,ham,"Nah I don't think he goes to usf, he lives aro...",nah don't think go us life around though

In [83]:
df.groupby('email_detection').describe()

                email_text         \
                     count unique
email_detection
ham                   4825   4516
spam                   747    653

                                                                         \
                                                               top freq
email_detection
ham                                         Sorry, I'll call later   30
spam             Please call our customer service representativ...    4

                clean_email_text         \
                           count unique
email_detection
ham                         4825   4481
spam                         747    628


                                                               top freq
email_detection
ham                                           sorry ill call later   30
spam             remember mobile 11mths entitled update late co...    4

In [85]:
# turning spam/ham into numerical data
df['email_detection'] = df['email_detection'].apply(lambda x : 1 if x == 'spam' else 0)

In [86]:
df.head()

,email_detection,email_text,clean_email_text
0,0,"Go until jurong point, crazy.. Available only ...",go wrong point crazy available bugs n great wo...
1,0,Ok lar... Joking wif u oni...,of lar joking if u on
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,free entry 2 wily come win fa cup final tits j...
3,0,U dun say so early hor... U c already then say...,u dun say early for u c already say
4,0,"Nah I don't think he goes to usf, he lives aro...",nah don't think go us life around though

#  Turning data into train and test split

In [107]:
x_train, x_test ,y_train  , y_test= train_test_split(df.clean_email_text , df.email_detection , test_size = 0.25)

# Feature Extraction

In [ ]:
cv = CountVectorizer()

In [112]:
x_train_count = cv.fit_transform(x_train.values)

In [113]:
x_train_count

<4179x5774 sparse matrix of type '<class 'numpy.int64'>'
	with 34885 stored elements in Compressed Sparse Row format>

In [114]:
x_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

# Train Model

In [115]:
model = MultinomialNB()

In [116]:
model.fit(x_train_count, y_train)

MultinomialNB()

In [118]:
email_ham = ['my name is martin from cairo']
email_ham_count = cv.transform(email_ham)
model.predict(email_ham_count)

array([0], dtype=int64)

In [126]:
email_spam = ['reward']
email_spam_count = cv.transform(email_spam)
model.predict(email_spam_count)

array([1], dtype=int64)

# Test Model

In [127]:
# test model
x_test_count = cv.transform(x_test)
model.score(x_test_count , y_test)

0.9784637473079684